doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/css/basic.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src="/js/basic.js")
    script(src="//localhost:35729/livereload.js")
  body
body
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Node-REST
      #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-left
          li.active
            a(href='#') Home
          li
            a(href='#about') About
          li
            a(href='#contact') Contact
        ul.nav.navbar-nav.navbar-right
          li
            if locals.user
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                | #{locals.user.email}
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') Action
                li.divider
                li
                  a(href='/logout') Sign Out
            else
              a(href="/login") Sign In

  .container
    block content

  footer.footer.navbar-default
    .container
      p.text-muted Place sticky footer content here.
