body {
  padding: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

form.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}


/*ads*/